body {
    color: #666;
}

h1,h2,h3,h4,h5,h6 {
    color: #111;
}

.l-box {
    padding: 2em;
}

.header .pure-menu {
    border-bottom-color: black;
    border-radius: 0;
	min-height: calc(10vh + 1vw);
}

.photo-box, .text-box {
    overflow: hidden;
    position: relative;
    height: 250px;
    text-align: center;
}

.photo-box-thin {
    height: 120px;
}


    .photo-box img {
        width: 100%;
        height: auto;
        min-height: 250px;
    }

    .photo-box aside {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 1em 0.5em;
        color: white;
        width: 100%;
        font-size: 80%;
        text-align: right;
        background: -moz-linear-gradient(top,  rgba(16,27,30,0) 0%, rgba(12,2,2,1) 90%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(16,27,30,0)), color-stop(90%,rgba(12,2,2,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00101b1e', endColorstr='#0c0202',GradientType=0 ); /* IE6-9 */

    }

    .photo-box aside span {
        color: #aaa;
    }

        .photo-box aside span a {
            color: #ccc;
            text-decoration: none;
        }

.text-box {
    background: rgb(49, 49, 49); /* bluish grey */
    color: rgb(255, 190, 94); /* steel blue */
}

    .text-box-head {
        color: #fff;
        padding-bottom: 0.2em;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 24px;
    }

    .text-box-subhead {
        font-weight: normal;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }

.form-box {
    text-align: center;
    font-size: 120%;
    border-bottom: 1px solid #eee;
}

    .form-box .pure-button {
        background-color: #61B842;
        color: white;
        vertical-align: top;
        font-size: 85%;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        border-radius: 4px;
        margin: 0.3em;
    }
    .pure-form input[type] {
        margin: 0.3em auto;
        text-align: center;
    }

.footer {
    background: #111;
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
}

@media (min-width: 30em) {
    .photo-box, .text-box {
        text-align: left;
    }

    .photo-box-thin {
        height: 250px;
    }
}
.logo {
	width: 300px;
	height: 50px;
	background-repeat: no-repeat;
	display: inline-block;
}
.logo-1 {
	background-image: url(../../assets/fg-logo.png);
}
.iconfg-logo {
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%22287px%22%20height%3D%2252px%22%20viewBox%3D%220%200%20287%2052%22%20enable-background%3D%22new%200%200%20287%2052%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%20%3Cdefs%3E%20%20%3Crect%20id%3D%22SVGID_1_%22%20x%3D%225.873%22%20y%3D%2211.574%22%20width%3D%2223.587%22%20height%3D%2223.923%22%2F%3E%20%3C%2Fdefs%3E%20%3CclipPath%20id%3D%22SVGID_2_%22%3E%20%20%3Cuse%20xlink%3Ahref%3D%22%23SVGID_1_%22%20%20overflow%3D%22visible%22%2F%3E%20%3C%2FclipPath%3E%20%3Cg%20clip-path%3D%22url(%23SVGID_2_)%22%3E%20%20%3ClinearGradient%20id%3D%22SVGID_3_%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%2223.1406%22%20y1%3D%2233.3281%22%20x2%3D%2215.8653%22%20y2%3D%224.8207%22%3E%20%20%20%3Cstop%20%20offset%3D%220%22%20style%3D%22stop-color%3A%23007D08%22%2F%3E%20%20%20%3Cstop%20%20offset%3D%221%22%20style%3D%22stop-color%3A%2300AB1B%22%2F%3E%20%20%3C%2FlinearGradient%3E%20%20%3Cpolyline%20fill%3D%22url(%23SVGID_3_)%22%20points%3D%2240.089%2C2.854%2027.617%2C40.864%200.148%2C40.122%203.267%2C3.448%20%20%20%22%2F%3E%20%20%3ClinearGradient%20id%3D%22SVGID_4_%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%220%22%20y1%3D%2220.3506%22%20x2%3D%2222.8687%22%20y2%3D%2220.3506%22%3E%20%20%20%3Cstop%20%20offset%3D%220%22%20style%3D%22stop-color%3A%2300AB1B%22%2F%3E%20%20%20%3Cstop%20%20offset%3D%220.4285%22%20style%3D%22stop-color%3A%2300A91A%22%2F%3E%20%20%20%3Cstop%20%20offset%3D%220.6515%22%20style%3D%22stop-color%3A%2300A117%22%2F%3E%20%20%20%3Cstop%20%20offset%3D%220.8266%22%20style%3D%22stop-color%3A%23009411%22%2F%3E%20%20%20%3Cstop%20%20offset%3D%220.9768%22%20style%3D%22stop-color%3A%2300810A%22%2F%3E%20%20%20%3Cstop%20%20offset%3D%221%22%20style%3D%22stop-color%3A%23007D08%22%2F%3E%20%20%3C%2FlinearGradient%3E%20%20%3Cpath%20opacity%3D%220.9%22%20fill%3D%22url(%23SVGID_4_)%22%20d%3D%22M22.271%2C39.083c0%2C0-13.512-19.303-13.363-35.486C9.057-12.587%2C0-2.639%2C0-2.639%20%20%20S6.682%2C32.55%2C16.184%2C42.646C25.687%2C52.742%2C22.271%2C39.083%2C22.271%2C39.083z%22%2F%3E%20%20%3Cpath%20opacity%3D%220.91%22%20fill%3D%22%2300AB1B%22%20d%3D%22M29.547%2C38.786c0%2C0-10.542%2C4.75-8.612-32.22l13.511-0.892L29.547%2C38.786z%22%2F%3E%20%3C%2Fg%3E%3C%2Fg%3E%3Cg%3E%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M45.621%2C17.708h-4.23v-2.217h4.23v-1.521c0-4.394%2C0.164-8.828%2C5.543-8.828c0.822%2C0%2C1.93%2C0.124%2C2.422%2C0.41%20%20l-0.164%2C2.259c-0.534-0.287-1.313-0.452-2.053-0.452c-3.532%2C0-3.162%2C3.819-3.162%2C6.325v1.807h4.723v2.217h-4.723v18.725h-2.586%20%20V17.708z%20M59.747%2C9.906h-2.587v-3.45h2.587V9.906z%20M57.159%2C15.491h2.587v20.941h-2.587V15.491z%22%2F%3E%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M65.045%2C5.635h2.587v30.798h-2.587V5.635z%22%2F%3E%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M84.703%2C33.065h-0.082c-1.15%2C2.507-4.065%2C3.861-6.652%2C3.861c-5.954%2C0-6.9-4.026-6.9-5.914%20%20c0-7.022%2C7.475-7.35%2C12.895-7.35h0.493v-1.068c0-3.572-1.273-5.379-4.764-5.379c-2.177%2C0-4.23%2C0.492-6.16%2C1.725v-2.506%20%20c1.602-0.78%2C4.313-1.437%2C6.16-1.437c5.174%2C0%2C7.35%2C2.341%2C7.35%2C7.804v9.239c0%2C1.682%2C0%2C2.955%2C0.205%2C4.392h-2.546V33.065z%20%20%20M84.457%2C25.88h-0.74c-4.477%2C0-9.814%2C0.452-9.814%2C5.052c0%2C2.75%2C1.972%2C3.776%2C4.353%2C3.776c6.078%2C0%2C6.201-5.297%2C6.201-7.555V25.88z%22%2F%3E%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M117.678%2C36.433V22.512c0-2.956-1.108-5.296-4.434-5.296c-2.833%2C0-5.625%2C2.423-5.625%2C7.637v11.58h-2.588%20%20V22.512c0-2.956-1.108-5.296-4.434-5.296c-2.834%2C0-5.625%2C2.423-5.625%2C7.637v11.58h-2.588V20.418c0-1.602%2C0-3.243-0.163-4.927h2.504%20%20v3.531l0.081%2C0.041c0.823-1.437%2C2.054-4.065%2C6.53-4.065c1.849%2C0%2C4.888%2C0.78%2C5.543%2C4.436h0.082c0.945-2.464%2C3.408-4.436%2C6.693-4.436%20%20c4.229%2C0%2C6.613%2C2.957%2C6.613%2C7.021v14.413H117.678z%22%2F%3E%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M138.993%2C35.775c-1.807%2C0.74-4.147%2C1.151-6.078%2C1.151c-6.94%2C0-9.526-4.683-9.526-10.963%20%20c0-6.408%2C3.532-10.966%2C8.828-10.966c5.915%2C0%2C8.336%2C4.762%2C8.336%2C10.391v1.312h-14.33c0%2C4.435%2C2.38%2C8.007%2C6.897%2C8.007%20%20c1.89%2C0%2C4.64-0.778%2C5.873-1.561V35.775z%20M137.72%2C24.483c0-3.655-1.479-7.268-5.338-7.268c-3.819%2C0-6.159%2C3.818-6.159%2C7.268H137.72z%20%20%22%2F%3E%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M144.661%2C20.418c0-1.602%2C0-3.243-0.162-4.927h2.504v3.735h0.081c0.863-1.888%2C2.424-4.229%2C6.777-4.229%20%20c5.172%2C0%2C7.144%2C3.45%2C7.144%2C8.048v13.387h-2.586V23.703c0-3.943-1.396-6.487-4.969-6.487c-4.722%2C0-6.2%2C4.147-6.2%2C7.637v11.58h-2.588%20%20V20.418z%22%2F%3E%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M175.038%2C17.708h-4.764V31.26c0%2C1.888%2C0.699%2C3.448%2C2.792%2C3.448c0.985%2C0%2C1.644-0.205%2C2.382-0.492%20%20l0.163%2C2.136c-0.616%2C0.244-1.887%2C0.575-3.161%2C0.575c-4.599%2C0-4.763-3.163-4.763-6.981V17.708h-4.106v-2.217h4.106v-5.052%20%20l2.586-0.902v5.954h4.764V17.708z%22%2F%3E%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M205.222%2C34.708c0%2C5.831-2.628%2C10.594-9.815%2C10.594c-2.751%2C0-5.255-0.779-6.323-1.108l0.205-2.586%20%20c1.601%2C0.82%2C3.901%2C1.479%2C6.159%2C1.479c6.654%2C0%2C7.227-4.846%2C7.227-10.76h-0.08c-1.397%2C3.039-3.696%2C4.106-6.365%2C4.106%20%20c-6.695%2C0-8.831-5.83-8.831-10.469c0-6.367%2C2.465-10.966%2C8.624-10.966c2.793%2C0%2C4.599%2C0.37%2C6.529%2C2.874h0.082v-2.381h2.589V34.708z%20%20%20M196.27%2C34.216c4.681%2C0%2C6.363-4.434%2C6.363-8.252c0-5.052-1.477-8.748-6.2-8.748c-4.926%2C0-6.201%2C4.681-6.201%2C8.748%20%20C190.232%2C30.067%2C191.875%2C34.216%2C196.27%2C34.216z%22%2F%3E%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M210.644%2C20.173c0-2.301%2C0-3.163-0.165-4.682h2.586v4.023h0.083c0.945-2.34%2C2.71-4.517%2C5.38-4.517%20%20c0.616%2C0%2C1.354%2C0.123%2C1.806%2C0.247v2.71c-0.534-0.165-1.233-0.247-1.889-0.247c-4.105%2C0-5.215%2C4.599-5.215%2C8.376v10.349h-2.586%20%20V20.173z%22%2F%3E%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M230.929%2C14.998c6.777%2C0%2C9.773%2C5.257%2C9.773%2C10.966c0%2C5.706-2.997%2C10.963-9.773%2C10.963%20%20c-6.776%2C0-9.772-5.257-9.772-10.963C221.156%2C20.255%2C224.153%2C14.998%2C230.929%2C14.998z%20M230.929%2C34.708%20%20c4.517%2C0%2C6.939-3.901%2C6.939-8.744c0-4.849-2.422-8.748-6.939-8.748c-4.516%2C0-6.94%2C3.899-6.94%2C8.748%20%20C223.988%2C30.807%2C226.413%2C34.708%2C230.929%2C34.708z%22%2F%3E%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M261.112%2C31.506c0%2C1.602%2C0%2C3.245%2C0.166%2C4.927h-2.507v-3.736h-0.082c-0.863%2C1.89-2.423%2C4.23-6.775%2C4.23%20%20c-5.173%2C0-7.144-3.45-7.144-8.048V15.491h2.585v12.73c0%2C3.939%2C1.396%2C6.486%2C4.97%2C6.486c4.721%2C0%2C6.199-4.147%2C6.199-7.636V15.491%20%20h2.587V31.506z%22%2F%3E%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M265.713%2C15.491h2.587l-0.164%2C3.819h0.083c0.657-1.15%2C2.257-4.312%2C6.693-4.312%20%20c6.159%2C0%2C8.623%2C4.599%2C8.623%2C10.966c0%2C6.197-2.875%2C10.963-8.623%2C10.963c-3.285%2C0-5.256-1.354-6.53-4.065H268.3v12.195h-2.587V15.491%20%20z%20M274.502%2C17.216c-4.6%2C0-6.202%2C4.927-6.202%2C8.748c0%2C3.818%2C1.603%2C8.744%2C6.202%2C8.744c4.926%2C0%2C6.2-4.681%2C6.2-8.744%20%20C280.702%2C21.896%2C279.428%2C17.216%2C274.502%2C17.216z%22%2F%3E%3C%2Fg%3E%3Cg%3E%20%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%221.9721%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M30.121%2C31.635%20%20c0%2C2.169-1.775%2C3.943-3.944%2C3.943H9.479c-2.169%2C0-3.944-1.774-3.944-3.943V14.937c0-2.169%2C1.775-3.944%2C3.944-3.944h16.697%20%20c2.169%2C0%2C3.944%2C1.775%2C3.944%2C3.944V31.635z%22%2F%3E%3C%2Fg%3E%3Cg%3E%20%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%221.9721%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M30.121%2C31.635%20%20c0%2C2.169-1.775%2C3.943-3.944%2C3.943H9.479c-2.169%2C0-3.944-1.774-3.944-3.943V14.937c0-2.169%2C1.775-3.944%2C3.944-3.944h16.697%20%20c2.169%2C0%2C3.944%2C1.775%2C3.944%2C3.944V31.635z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
	background-repeat: no-repeat;
}
